In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
import os
import json 
import matplotlib
import matplotlib.pyplot as plt


from sklearn.metrics import jaccard_score
from scipy.spatial.distance import directed_hausdorff

import cv2
import tifffile
import seaborn as sns
from itertools import chain
from PIL import Image
from PIL import ImageDraw

import skimage
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

import scipy.stats as stats

In [ ]:
#Read Metrics file for the team
BASE_PATH = os.getcwd()+'/'
INPUT_PATH = BASE_PATH
print(INPUT_PATH)

In [3]:
def get_stats(df_metrics_team1, metric, case, per_organ, team_num, n_case):
    if case == "best":
        if per_organ is True:
            indices_to_drop = df_metrics_team1.groupby('tissue_name')[metric].nlargest(n_case).index.get_level_values(1)
            team1_stats = df_metrics_team1.drop(indices_to_drop, inplace=False)

        elif per_organ is False:
            df_metrics_team1_sorted = df_metrics_team1.sort_values(metric, ascending=False)
            df_metrics_team1_sorted = df_metrics_team1_sorted.reset_index(drop=True)
            team1_stats = df_metrics_team1_sorted.drop(df_metrics_team1_sorted[df_metrics_team1_sorted['id'] == df_metrics_team1_sorted.id[0]].index)

    elif case == "worst":
        if per_organ is True:
            indices_to_drop = df_metrics_team1.groupby('tissue_name')[metric].nsmallest(n_case).index.get_level_values(1)
            team1_stats = df_metrics_team1.drop(indices_to_drop, inplace=False)

        elif per_organ is False:
            df_metrics_team1_sorted = df_metrics_team1.sort_values(metric, ascending=True)
            df_metrics_team1_sorted = df_metrics_team1_sorted.reset_index(drop=True)
            team1_stats = df_metrics_team1_sorted.drop(df_metrics_team1_sorted[df_metrics_team1_sorted['id'] == df_metrics_team1_sorted.id[0]].index)
    mean_val = team1_stats[metric].mean()
    # print(f"Team {team_num}: {mean_val}")
    return mean_val

In [4]:
column_names = ['TeamName', 'dice_score', 'iou_score']
top50_ranking_dropped1 = pd.DataFrame(columns=column_names)
top50_ranking_dropped3 = pd.DataFrame(columns=column_names)

In [5]:
for i in range(1,51):
    # metric = "iou_score"
    team = f"team_{i}"
    if i == 1 or i == 2 or i == 3:
        df_metrics = pd.read_csv(INPUT_PATH+f'winning-submissions/{team}/metrics.csv')
    else:
        df_metrics = pd.read_csv(INPUT_PATH+f'winning-submissions/other_top50_teams/{team}/metrics.csv')

    metric = "dice_score"
    case = "worst"
    per_organ = True
    mean_val_dice = get_stats(df_metrics, metric, case, per_organ, i, 1)

    metric = "iou_score"
    case = "worst"
    per_organ = True
    mean_val_iou = get_stats(df_metrics, metric, case, per_organ, i, 1)

    new_row = {'TeamName' : team, 'dice_score' : mean_val_dice, 'iou_score' : mean_val_iou}

    top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)

    # print(f"Team completed: {team}")
    
# print("Metric computation complete")

/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/2637394250.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped1 = top50_ranking_dropped1.append(new_row, ignore_index=True)

In [6]:
display(top50_ranking_dropped1)

   TeamName  dice_score  iou_score
0    team_1    0.842140   0.745262
1    team_2    0.841845   0.744692
2    team_3    0.841300   0.742327
3    team_4    0.832170   0.732461
4    team_5    0.833201   0.734884
5    team_6    0.831330   0.734160
6    team_7    0.831345   0.732670
7    team_8    0.831908   0.731414
8    team_9    0.830406   0.731740
9   team_10    0.830115   0.730888
10  team_11    0.827082   0.725866
11  team_12    0.827004   0.727727
12  team_13    0.826222   0.724742
13  team_14    0.826099   0.725480
14  team_15    0.824744   0.724986
15  team_16    0.820162   0.719483
16  team_17    0.822839   0.721516
17  team_18    0.821664   0.720550
18  team_19    0.820871   0.720629
19  team_20    0.816368   0.710751
20  team_21    0.811395   0.704013
21  team_22    0.818673   0.718416
22  team_23    0.818959   0.717544
23  team_24    0.820332   0.718473
24  team_25    0.819154   0.716604
25  team_26    0.817139   0.708765
26  team_27    0.816704   0.711894
27  team_28    0.812459   0.705988
28  team_29    0.804705   0.697356
29  team_30    0.796267   0.692800
30  team_31    0.809372   0.704581
31  team_32    0.816075   0.714951
32  team_33    0.807680   0.703213
33  team_34    0.811711   0.706260
34  team_35    0.811286   0.707597
35  team_36    0.813023   0.707049
36  team_37    0.805644   0.702482
37  team_38    0.804660   0.701744
38  team_39    0.809380   0.702580
39  team_40    0.797785   0.693486
40  team_41    0.792028   0.681103
41  team_42    0.810319   0.706345
42  team_43    0.807985   0.704851
43  team_44    0.806562   0.700324
44  team_45    0.805632   0.702096
45  team_46    0.806141   0.698405
46  team_47    0.806758   0.702389
47  team_48    0.807793   0.700938
48  team_49    0.796214   0.687617
49  team_50    0.805185   0.699342

In [8]:
for j in range(1,51):
    # metric = "iou_score"
    team = f"team_{j}"
    if j == 1 or j == 2 or j == 3:
        df_metrics = pd.read_csv(INPUT_PATH+f'winning-submissions/{team}/metrics.csv')
    else:
        df_metrics = pd.read_csv(INPUT_PATH+f'winning-submissions/other_top50_teams/{team}/metrics.csv')

    metric = "dice_score"
    case = "worst"
    per_organ = True
    mean_val_dice = get_stats(df_metrics, metric, case, per_organ, j, 3)

    metric = "iou_score"
    case = "worst"
    per_organ = True
    mean_val_iou = get_stats(df_metrics, metric, case, per_organ, j, 3)

    new_row = {'TeamName' : team, 'dice_score' : mean_val_dice, 'iou_score' : mean_val_iou}

    top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)

/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)
/tmp/ipykernel_4043488/4006824951.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top50_ranking_dropped3 = top50_ranking_dropped3.append(new_row, ignore_index=True)

In [9]:
display(top50_ranking_dropped3)

   TeamName  dice_score  iou_score
0    team_1    0.850595   0.755482
1    team_2    0.850365   0.754829
2    team_3    0.850870   0.753838
3    team_4    0.843226   0.744912
4    team_5    0.842257   0.745573
5    team_6    0.839558   0.743950
6    team_7    0.839129   0.742010
7    team_8    0.841222   0.742264
8    team_9    0.839384   0.742028
9   team_10    0.838788   0.741288
10  team_11    0.836194   0.736714
11  team_12    0.837098   0.739153
12  team_13    0.834518   0.734690
13  team_14    0.834552   0.735593
14  team_15    0.833203   0.734914
15  team_16    0.829797   0.729930
16  team_17    0.833036   0.733780
17  team_18    0.831603   0.731448
18  team_19    0.829677   0.731069
19  team_20    0.825702   0.721787
20  team_21    0.821508   0.716255
21  team_22    0.826759   0.727764
22  team_23    0.826525   0.726671
23  team_24    0.829582   0.729500
24  team_25    0.828702   0.727443
25  team_26    0.826204   0.720072
26  team_27    0.826416   0.723417
27  team_28    0.821216   0.716507
28  team_29    0.816608   0.710821
29  team_30    0.805126   0.702905
30  team_31    0.817671   0.714423
31  team_32    0.830004   0.729933
32  team_33    0.816545   0.713983
33  team_34    0.820232   0.716514
34  team_35    0.819876   0.717558
35  team_36    0.823254   0.718425
36  team_37    0.814584   0.712498
37  team_38    0.814186   0.712229
38  team_39    0.818651   0.713684
39  team_40    0.805494   0.702366
40  team_41    0.806443   0.696901
41  team_42    0.821276   0.719055
42  team_43    0.818545   0.716719
43  team_44    0.815044   0.710446
44  team_45    0.814591   0.712222
45  team_46    0.814504   0.708401
46  team_47    0.815905   0.712939
47  team_48    0.819297   0.714180
48  team_49    0.808777   0.701680
49  team_50    0.814684   0.710836

# Top 50 teams analysis

In [3]:
column_names = ['TeamName', 'dice_score', 'iou_score', 'hd_score', 'hd95_score']
df_all_metrics_top50 = pd.DataFrame(columns=column_names)
df_all_metrics_top50

Empty DataFrame
Columns: [TeamName, dice_score, iou_score]
Index: []

In [4]:
for i in range(1,51):
    # metric = "iou_score"
    team = f"team_{i}"
    if i == 1 or i == 2 or i == 3:
        df_metrics = pd.read_csv(INPUT_PATH+f'winning-submissions/{team}/metrics.csv')
    else:
        df_metrics = pd.read_csv(INPUT_PATH+f'winning-submissions/other_top50_teams/{team}/metrics.csv')
    # sorted_df = df_metrics.sort_values(by='PrivateScore', ascending=False)
    dice_mean = df_metrics['dice_score'].mean()
    iou_mean = df_metrics['iou_score'].mean()
    hd_mean = df_metrics['hd_score'].mean()
    hd95_mean = df_metrics['hd95_score'].mean()

    new_row = {'TeamName' : team, 'dice_score' : dice_mean, 'iou_score' : iou_mean, 'hd_score' : hd_mean, 'hd95_score' : hd95_mean}

    df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)

# df_all_metrics_top50.to_csv(INPUT_PATH+f'winning-submissions/top50_team_metrics.csv',index=None)

/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)
/tmp/ipykernel_441419/2547728947.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all_metrics_top50 = df_all_metrics_top50.append(new_row, ignore_index=True)

In [18]:
metric = "iou_score" 
top50_ranking_dropped1_sorted = top50_ranking_dropped1.sort_values(metric, ascending=False)
top50_ranking_dropped1_sorted.reset_index(drop=True, inplace=True)
top50_ranking_dropped3_sorted = top50_ranking_dropped3.sort_values(metric, ascending=False)
top50_ranking_dropped3_sorted.reset_index(drop=True, inplace=True)

In [25]:
df_all_metrics_top50_sorted_iou = df_all_metrics_top50.sort_values("iou_score", ascending=False)
df_all_metrics_top50_sorted_iou.reset_index(drop=True, inplace=True)

In [26]:
display(df_all_metrics_top50_sorted_iou, top50_ranking_dropped1_sorted, top50_ranking_dropped3_sorted)

   TeamName  dice_score  iou_score    hd_score  hd95_score
0    team_1    0.835616   0.738462  201.991753  380.928247
1    team_2    0.833929   0.736247  261.016578  392.336002
2    team_3    0.832661   0.733348  268.145931  406.362649
3    team_6    0.825355   0.727711  212.415925  368.317201
4    team_5    0.825953   0.727103  186.205165  363.487386
5    team_7    0.825162   0.725917  289.557443  386.677818
6    team_4    0.824744   0.724394  202.038490  389.344642
7    team_9    0.823342   0.724083  178.454873  369.256189
8    team_8    0.824804   0.724025  240.503372  399.504098
9   team_10    0.822665   0.722829  249.206046  385.919631
10  team_12    0.819907   0.720152  247.135002  392.926936
11  team_11    0.820494   0.718804  217.992671  405.419467
12  team_14    0.818784   0.717634  204.706534  395.681002
13  team_15    0.817438   0.717222  231.491122  391.591762
14  team_13    0.819130   0.717076  227.059749  387.847328
15  team_19    0.814387   0.713701  232.912989  395.306132
16  team_18    0.814632   0.713361  207.615358  382.418635
17  team_16    0.814089   0.713238  297.549747  400.700082
18  team_17    0.814948   0.713123  186.052207  389.184633
19  team_22    0.811637   0.711210  202.285737  380.324503
20  team_23    0.812580   0.710890  246.335312  385.094240
21  team_24    0.812443   0.710357  213.810102  390.964773
22  team_25    0.812318   0.709355  214.882000  388.143541
23  team_32    0.806690   0.705497  207.343563  426.735718
24  team_27    0.808477   0.703046  218.373962  410.532366
25  team_20    0.809155   0.702849  218.452792  393.905871
26  team_35    0.805182   0.701083  260.332331  402.818789
27  team_26    0.810068   0.700955  199.847898  424.342796
28  team_36    0.805535   0.699149  263.969398  412.066932
29  team_34    0.805063   0.699041  229.914329  385.041357
30  team_28    0.805709   0.698541  224.627259  399.475431
31  team_43    0.801306   0.697886  242.613483  426.833951
32  team_31    0.802974   0.697731  224.663274  383.007762
33  team_42    0.801776   0.697441  201.102812  411.581264
34  team_45    0.799950   0.696150  248.719175  418.170210
35  team_21    0.803650   0.695938  284.742850  424.306677
36  team_37    0.798853   0.695286  220.187121  387.029635
37  team_33    0.800047   0.695258  208.885700  415.768317
38  team_39    0.802248   0.694805  223.639009  399.993394
39  team_47    0.799184   0.694519  230.150532  414.007400
40  team_38    0.797459   0.694136  248.173746  398.959532
41  team_44    0.799077   0.692350  269.192476  402.303824
42  team_48    0.798772   0.691864  198.788254  427.842202
43  team_46    0.799475   0.691390  325.103230  417.373343
44  team_50    0.796606   0.690417  205.167460  419.790811
45  team_29    0.796718   0.688948  292.367499  401.951620
46  team_40    0.791561   0.686860  263.074228  399.848914
47  team_30    0.789057   0.685176  277.113852  415.653631
48  team_49    0.786115   0.677700  232.265139  428.378092
49  team_41    0.781748   0.671092  181.805899  427.378148

   TeamName  dice_score  iou_score
0    team_1    0.842140   0.745262
1    team_2    0.841845   0.744692
2    team_3    0.841300   0.742327
3    team_5    0.833201   0.734884
4    team_6    0.831330   0.734160
5    team_7    0.831345   0.732670
6    team_4    0.832170   0.732461
7    team_9    0.830406   0.731740
8    team_8    0.831908   0.731414
9   team_10    0.830115   0.730888
10  team_12    0.827004   0.727727
11  team_11    0.827082   0.725866
12  team_14    0.826099   0.725480
13  team_15    0.824744   0.724986
14  team_13    0.826222   0.724742
15  team_17    0.822839   0.721516
16  team_19    0.820871   0.720629
17  team_18    0.821664   0.720550
18  team_16    0.820162   0.719483
19  team_24    0.820332   0.718473
20  team_22    0.818673   0.718416
21  team_23    0.818959   0.717544
22  team_25    0.819154   0.716604
23  team_32    0.816075   0.714951
24  team_27    0.816704   0.711894
25  team_20    0.816368   0.710751
26  team_26    0.817139   0.708765
27  team_35    0.811286   0.707597
28  team_36    0.813023   0.707049
29  team_42    0.810319   0.706345
30  team_34    0.811711   0.706260
31  team_28    0.812459   0.705988
32  team_43    0.807985   0.704851
33  team_31    0.809372   0.704581
34  team_21    0.811395   0.704013
35  team_33    0.807680   0.703213
36  team_39    0.809380   0.702580
37  team_37    0.805644   0.702482
38  team_47    0.806758   0.702389
39  team_45    0.805632   0.702096
40  team_38    0.804660   0.701744
41  team_48    0.807793   0.700938
42  team_44    0.806562   0.700324
43  team_50    0.805185   0.699342
44  team_46    0.806141   0.698405
45  team_29    0.804705   0.697356
46  team_40    0.797785   0.693486
47  team_30    0.796267   0.692800
48  team_49    0.796214   0.687617
49  team_41    0.792028   0.681103

   TeamName  dice_score  iou_score
0    team_1    0.850595   0.755482
1    team_2    0.850365   0.754829
2    team_3    0.850870   0.753838
3    team_5    0.842257   0.745573
4    team_4    0.843226   0.744912
5    team_6    0.839558   0.743950
6    team_8    0.841222   0.742264
7    team_9    0.839384   0.742028
8    team_7    0.839129   0.742010
9   team_10    0.838788   0.741288
10  team_12    0.837098   0.739153
11  team_11    0.836194   0.736714
12  team_14    0.834552   0.735593
13  team_15    0.833203   0.734914
14  team_13    0.834518   0.734690
15  team_17    0.833036   0.733780
16  team_18    0.831603   0.731448
17  team_19    0.829677   0.731069
18  team_32    0.830004   0.729933
19  team_16    0.829797   0.729930
20  team_24    0.829582   0.729500
21  team_22    0.826759   0.727764
22  team_25    0.828702   0.727443
23  team_23    0.826525   0.726671
24  team_27    0.826416   0.723417
25  team_20    0.825702   0.721787
26  team_26    0.826204   0.720072
27  team_42    0.821276   0.719055
28  team_36    0.823254   0.718425
29  team_35    0.819876   0.717558
30  team_43    0.818545   0.716719
31  team_34    0.820232   0.716514
32  team_28    0.821216   0.716507
33  team_21    0.821508   0.716255
34  team_31    0.817671   0.714423
35  team_48    0.819297   0.714180
36  team_33    0.816545   0.713983
37  team_39    0.818651   0.713684
38  team_47    0.815905   0.712939
39  team_37    0.814584   0.712498
40  team_38    0.814186   0.712229
41  team_45    0.814591   0.712222
42  team_50    0.814684   0.710836
43  team_29    0.816608   0.710821
44  team_44    0.815044   0.710446
45  team_46    0.814504   0.708401
46  team_30    0.805126   0.702905
47  team_40    0.805494   0.702366
48  team_49    0.808777   0.701680
49  team_41    0.806443   0.696901

In [ ]:
# df_all_metrics_top50_sorted_dice = df_all_metrics_top50.sort_values(by='dice_score', ascending=False)
# df_all_metrics_top50_sorted_iou = df_all_metrics_top50.sort_values(by='iou_score', ascending=False)
# df_all_metrics_top50_sorted_hd = df_all_metrics_top50.sort_values(by='hd_score', ascending=False)
# df_all_metrics_top50_sorted_hd95 = df_all_metrics_top50.sort_values(by='hd95_score', ascending=False)

In [30]:
arg1 = df_all_metrics_top50['TeamName']
arg2 = df_all_metrics_top50_sorted_iou['TeamName']
tau, p_value = stats.kendalltau(arg1, arg2)

# Print the calculated tau and p-value
print("Kendall's tau:", tau)
print("p-value:", p_value)

Kendall's tau: 0.746938775510204
p-value: 1.9505758390177287e-14

In [31]:
arg1 = df_all_metrics_top50['TeamName']
arg2 = top50_ranking_dropped1_sorted['TeamName']
tau, p_value = stats.kendalltau(arg1, arg2)

# Print the calculated tau and p-value
print("Kendall's tau:", tau)
print("p-value:", p_value)

Kendall's tau: 0.7502040816326531
p-value: 1.502674554357366e-14

In [32]:
arg1 = df_all_metrics_top50['TeamName']
arg2 = top50_ranking_dropped3_sorted['TeamName']
tau, p_value = stats.kendalltau(arg1, arg2)

# Print the calculated tau and p-value
print("Kendall's tau:", tau)
print("p-value:", p_value)

Kendall's tau: 0.7306122448979592
p-value: 7.070885243100395e-14